{% extends "base.html" %}
{% block title %}Lore{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet" href="/static/css/lore_style.css">
{% endblock %}
{% block content %}
    <img src="/static/clanbanner.png" alt="clanBanner" id="cb">
    <div id="text">
        <p style="width: 75%; background-color:rgba(0, 0, 0, 0.357); background-size:105% 105%">
We started years ago, when caydes chicken started a group called the Exile Assassins. You’ve always wondered how Cayde's chicken killed all those cabal in red war. He ripped their heads off, one by one, spilling their blood all over the EDZ. The chicken had white feathers with a strong hardened beak. This chicken had blades for claws and blades under his feathers. He assassinated all of the cabal that could be seen. 
Later the chicken gained the power of the light. He killed many enemies and became great friends with Calus, eating many meals and drinking with him, until they needed to be revived.
The Colonel got a distress call from his ghost. He raced across the system, speeding to its chicken hut. The hut was surrounded by Fallen and the Cabal of the Red War. The chickens eggs were being raided. The Fallen wanted to have the chicken's (mmmm so good and tasty) eggs. After losing the light from the traveller, as Gaul had taken it with his machine. He called for cayde who broke the Fallen.
<br>“Get your fallen asses off my free range eggs!”, Cayde bellowed.
Colonel clucked aggressively.
The Colonel's eggs slowly chipped from top to bottom. Out rose a guardian. YOU. You rose from the egg and a ghost arrived, allowing you to transform into a strong, war-driven assassin, who had been exiled from the grave. You could not die. You had your light and now YOU have made history.
The chicken later grieved as Cayde perished. He joined forces with Saint-14, who joined the clan of the chicken. He gained the name Pigeon Lord. He called upon the guardian to avenge Cayde. The chicken has now became legend. Ordering Zavala when to attack and who to kill. This Chicken became a god, and the guardians were followers. The Exile assassins, the sons and daughters of the chickens, defend the lands the chicken rules over, trying to give the system back to its rightful owner.
        </p>
    </div>
{% endblock %}
